In [ ]:
#task 1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print((a_tuple)[3][-4])

400

In [ ]:
#task 2
t=input()
l=[]
p=t[1:-1].split(', ')
for i in p:
  l.append(int(i))
m=tuple(l)
print(m[2:-2])

(10, 20, 24, 25, 26, 35, 70)
(24, 25, 26)

In [ ]:
#task 3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print('Size of the tuple is:',len(book_info))
for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task 4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for a,b,c in book_info:
  print(b,'won the',"'"+a+"'",'with',c,'votes')

The Silent Patient won the 'Best Mystery & Thriller' with 68821 votes
The Institute won the 'Best Horror' with 75717 votes
The five won the 'Best History & Biography' with 31783 votes
The Testaments won the 'Best Fiction' with 98291 votes

In [ ]:
#task 5
t=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
c=0
n=int(input())
for i in t:
  if i==n:
    c+=1
print(n,'appears',c,'times in the tuple')

8
8 appears 4 times in the tuple

In [ ]:
#task 6
t=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
l=list(t)
k=[]
for i in range(-1,-len(l)-1,-1):
  i=t[i]
  k.append(i)
print(tuple(k))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [1]:
#Task - 7
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}

marks ={}
for i in dict2 :
  dict1[i] = dict2[i]
  mark = dict1
print(mark)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task - 7
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}
#dict1.update(dict2)
for i in dict2 :
  dict1[i] = dict2[i]
print(dict1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task - 8
str1 = input()#Jon:100, Dan:200, Rob:30, Ned:110
list1 = str1.split(", ")
#list1 = ['Jon:100', 'Dan:200', 'Rob:30', 'Ned:110']
dict1 = {}
for i in list1 :
  list2 = i.split(":")#i1 = 'Jon':'100' #list2 = ["Jon" , "100"]
  dict1[list2[0]]= int(list2[1])
sum   = 0
count = 0
for val in dict1.values() :
  count = count + 1
  sum   = sum + (val)
print("Average is",int(sum/count))

Jon:100, Dan:200, Rob:300
Average is 200

In [ ]:
#task 9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
dict1={}
n=int(input())
for i in exam_marks :
  if exam_marks[i] >= n :
    dict1[i] = exam_marks[i]
print(dict1)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task 10
dict1={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure': 14}
max=int()
for i in dict1:
  if dict1[i]>max:
    max=dict1[i]
    c=i
print(f"The highest selling book genre is '{c}' and the number of books sold are {max} ")

The highest selling book genre is 'mystery' and the number of books sold are 15

In [ ]:
#task 11
str1=input().lower()   #"Python programming is fun"
lower_str =str1[1:-1]  #python programming is fun
lower_str_non_space = ''
dict1 = {}
for i in lower_str :
  if i != ' ':
    lower_str_non_space  =  lower_str_non_space + i #pythonprogrammingisfun
for j in lower_str_non_space:
  if j in dict1:
    dict1[j] = dict1[j] + 1
    continue
  else:
    dict1[j] = 1
print(dict1)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task 12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
tup = (dict_1.items())
listx = []
count = 0
for key , val in tup :
  listx = listx + val
for val in listx :
  count = count + 1
print(count)

9

In [ ]:
#task 13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1 = {}

for key , val in list_1 :
  if key in dict1 :
    dict1[key].append(val)
    continue
  dict1[key] = [val]
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#find lowest alpha pair
x =  [("a",-1),("b",-2),("c",3),("d",-8)]
min = x[0][1]
min_key = ""
for k , v in x :
  if v < min  :
    min = v
    min_key = k
print(min_key)

d