In [ ]:
#task 1
l=[]
for i in range (0,5):
  n=int(input())
  l.append(n)
  print("Numbers in the list: ",l)

3
Numbers in the list:  [3]
5
Numbers in the list:  [3, 5]
34
Numbers in the list:  [3, 5, 34]
-11
Numbers in the list:  [3, 5, 34, -11]
0
Numbers in the list:  [3, 5, 34, -11, 0]

In [ ]:
#task 2
n=input('Enter a list :')
l=[]
s=n.strip('[]').split(', ')

for i in s:

  l.append(int(i))
if len(l)>=4:
  print(l[2:-2])
else:
  print("Not possible")

Enter a list :10, 20, 24, 25, 26, 35, 70
['10', '20', '24', '25', '26', '35', '70']
10
20
24
25
26
35
70
[24, 25, 26]

In [ ]:
#task 3
l=[]
for i in range (0,5):
  n=int(input())
  l.append(n)
# print('Input data:',l)
print('Printing values from the list in reverse order:')
for j in range (-1,-len(l)-1,-1):
  print(l[j])

1
2
3
4
5
Printing values from the list in reverse order:
5
4
3
2
1

In [ ]:
#task 4
n=input()
s=n[1:-1].split(", ")
l=[]
for i in s:
  i=int(i)
  i=i**2
  l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#task 5
n=["hey", "there", "", "what's", "", "up", "", "?"]
l=[]
for i in n:
  if i!="":
    l.append(i)
print('Original List:',n)
print('Modified List:',l)

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

In [ ]:
#task6
str1=input('Input  me a string Ex: 7,13,2,10,6,-11,0 ')
list1 = str1.split(',')
for i in range (len(list1)):
  list1[i]=int(list1[i])
print("My list: ",list1)
max_location=0
max_number=list1[max_location]
for i in range(1,len(list1)):
  if (list1[i]>max_number):
    max_location=i
    max_number= list1[i]
print('Largest number in the list is ', max_number,'which was found at index ',max_location)

give me a list7,13,2,10,6,-11,0
My list:  [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is  13 which was found at index  1

In [ ]:
#task 6
n=input('give me a string')
l=[]
max=int()
s=n.split(',')
print(s)
for i in s:
  i=int(i)
  l.append(i)
print('My list:',l)
for j in range (len(l)):
  if l[j]>max:
    max=l[j]
    lrg=j
print('Largest number in the list is',max,end=' ')
print('which was found at index',lrg)

give me a string7,13,2,10,6,-11,0
['7', '13', '2', '10', '6', '-11', '0']
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1

In [ ]:
#task 7
List_one =input('')
List_two =input('')
l=[]

s=List_one[1:-1].split(', ')
for i in s:
  i=int(i)
  l.append(i)
k=l[0:-1]

p=List_two[1:-1].split(', ')
for j in p:
  j=int(j)
  k.append(j)
print(k)
# [1, 4, 7, 5]
# [6, 1, 3, 9]

[1, 4, 7, 5]
[6, 1, 3, 9]
[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#task 8
list_one=input('')
list_two=input('')
l=[]
s=list_one[1:-1].split(', ')
for i in s:
  i=int(i)
  if i%2==0:
    l.append(i)
p=list_two[1:-1].split(', ')
for j in p:
  j=int(j)
  if j%2==0:
    l.append(j)
print(l)

In [ ]:
#task9 #another method #with split
n=input('')
l=[]
s=n.split(' ')
for i in s:
  i=int(i)
  l.append(i)
print('Original list:',l)
k=[]
for j in l:
  if j%2!=0:
    k.append(j)
print('Modified list:',k)

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
#task 8
list_one=input('')
list_two=input('')
l=[]
s=list_one[1:-1].split(', ')
for i in s:
  i=int(i)
  if i%2==0:
    l.append(i)
p=list_two[1:-1].split(', ')
for j in p:
  j=int(j)
  if j%2==0:
    l.append(j)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, -13, -14, -15, -16]
[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task 9
n=input()
l=[]
m=''
o=''
for i in n:
  if i!=" ":
   m=m+i
  else:
   o=int(m)
   l.append(o)
   m=''
o=int(m)
l.append(o)
print('Original list:',l)
k=[]
for j in l:
  if j%2!=0:
    k.append(j)
print('Modified list:',k)

7 12 4 55 96 2 11 61 33 42
7
1
12
4
5
55
9
96
2
1
11
6
61
3
33
4
42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
#task 10
n=input('')
l=[]
s=n.split(',')
for i in s:
  i=int(i)
  l.append(i)
print('Input list:',l)
k=[]
for j in l:
  if j not in k:
    k.append(j)
print("Modified list:",k)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#task11
list_one =input('')
list_two=input('')
l=[]
s=list_one[1:-1].split(', ')
for i in s:
  i=int(i)
  l.append(i)
k=[]
p=list_two[1:-1].split(', ')
for j in p:
  j=int(j)
  k.append(j)
for t in l:
  for v in k:
    if t==v:
      print('True')
      break
if t!=v:
  print('False')

[1, 4, 3, 2, 5]
[8, 7, 6, 9]
False

[Ungraded]

In [ ]:
#task16
n=input('')
l=[]
s=n.split(', ')
for i in s:
  i=int(i)
  l.append(i)
print('My list:',l)
max=int()
for j in l:
  if j>max:
   max=j
   l.remove(max)
max_2=int()
for k in l:
  if k>max_2:
   max_2=k
print('Second largest number in the list is',max_2,'which was found at',l.index(max_2))

7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 13 which was found at 0

In [1]:
# Task 16
l = [10, 20, 30, 40, 50]
max_1 = max(l)
l.remove(max_1)
max_2 = max(l)


index_max_2 = l.index(max_2)

print('Second largest number in the list is', max_2, 'which was found at index', index_max_2)

Second largest number in the list is 40 which was found at index 3