In [ ]:
#Task 1
print("hello world")

hello world

In [ ]:
#Task 2
print( 54 + 56)

110

In [ ]:
#Task 3
season = 'Summer'
year = "2024"
print(season)
print(year)

Summer
2024

In [ ]:
#Task 4
x = input("user's name")
print("Your name is "+x)

user's nameShahib
Your name is Shahib

In [ ]:
#Task 5
m = int(input("Base :"))
n  = int(input("Power :"))
result = m**n
print(str(m)+"^"+str(n)+":"+" "+str(result))

Base :2
Power :3
2^3: 8

In [ ]:
#Task 6
x =int(input("Number of sailor"))
can_take = x//4
print(can_take*4)

Number of sailor23
20

In [ ]:
#Task 7
a  = float(input("A :"))
b  = float(input("B :"))
c  = float(input("C :"))
d  = float(input("D :"))
result = a**c+b*a-d/3
print(int(result))

A :2
B :6
C :8
D :1.3
267

In [ ]:
#Task 8
total = int(input("The number of chocolates :"))
receive = str(total//3)
remain = (total - (int(receive) * 3))
print("Each friend will receive "+receive+" chocolates")
print("The number of remaining chocolates is",remain)

The number of chocolates :50
Each friend will receive 16 chocolates
The number of remaining chocolates is 2

In [ ]:
#Task 9 [Ungraded]
last = input("last one :")
first = input("First one :")
print(first+last)

last one :5
First one :2
25

In [ ]:
#Task 10 [Ungraded]
first = input("First : ")
second = input("Second : ")
third  = input("Third : ")
print(first+","+second+","+third)

First : 1
Second : 2
Third : 3
1,2,3

In [ ]:
#Task 11 [Ungraded]
n = int(input("Even chceker : "))
if n % 2 == 0 :
  print("True")
else:
  print("False")

Even chceker : 1
False