In [ ]:
#task 1(a)
i = 24
while i >= -6 :
    if i == -6 :
        print(i)
    else:
        print(i,end=",")
    i-=6

24,18,12,6,0,-6

In [ ]:
#task 1 (b)
i = -10
while i<=20 :
    if i == 20 :
        print(i)
    else:
        print(i,end=",")
    i+=5

-10,-5,0,5,10,15,20

In [ ]:
#task 1 (d)
i = 18
while i <= 63 :
    if i == 63 :
        print(-1*i)
    elif i%2 != 0 :
        print(i*(-1),end=",")
    else:
        print(i,end=",")
    i+=9

18,-27,36,-45,54,-63

In [ ]:
#task 1 (d)
i = 18
while i <= 63 :
    if i == 63 :
        print(-1*i)
    elif i%2 != 0 :
        print(i*(-1),end=",")
    else:
        print(i,end=",")
    i+=9

18,-27,36,-45,54,-63

In [ ]:
#task 2
x = input("car name : ")
n = int (input("time you want to print :"))
for i in range (n):
    print(x)

car name : Toyota
time you want to print :3
Toyota
Toyota
Toyota

In [ ]:
#task 3
sum = 0
for i in range (0,601):
    if i % 7 == 0 and i % 9 ==0 :
        sum += i
print(sum)

2835

In [ ]:
#task 4
sum = 0

seven = 0
nine = 0
for i in range (0,601):
    if (i % 7 == 0 and i % 9 != 0) or (i % 7 != 0 and i % 9 ==0 ):
        sum +=i
print(sum)

39814

In [ ]:
#task 5
for i in range (11, 50,2):
    print(i,end=' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#task 6
n = int(input(" n times  : "))
sum = 0
neg = 0
pos = 0
for i in range (1,n+1):
    if i % 2 == 0 :
        k = (-1)*(i**2)
        neg += k
    else:
        p = i**2
        pos += p
sum =  neg + pos
print(sum)

 n times  : 50
-1275

In [ ]:
#task 7
count = 0
sum = 0

for i in range (10):
    num = int(input("enter an integer number : "))
    if num % 2 != 0 :
         count += 1
         sum += num
print(f"The total of the odd numbers is {sum}and their average is {sum/count}")

In [ ]:
#Task  8
num =  int (input("enter an integer number :  "))
sum = 0
for i in range (7,num+1,7):
    sum += i
print(sum)

enter an integer number :  50
196

In [ ]:
#Task - 9
sum = 0
for i in range (5):
    num = int(input("enter an intger number : "))
    sum += num
    print(sum)

In [ ]:
#Task - 10
n = int(input("enter an integer number :  "))
count = 0
while n > 0 :
    k = n % 10
    n = n // 10
    count += 1
    m = n // (10**(count+1))
    if n == m :
        print(k,end="")
    else:
        print(k,end=",")

enter an integer number :  76543211234567
7,6,5,4,3,2,1,1,2,3,4,5,6,7

In [ ]:
#task 11
x = int(input("enter am enteger number : "))
c = 0
while x > 0 :
  x = x // 10
  c += 1
print(c)

enter am enteger number : 09876
4

In [ ]:
#task 12
num = int(input("enter an integer number : "))
count = len(str(num))
while num > 0 :
  num = num  // (10**count-1)
  count -= 1
  k = num %  (10**count-1)

  print(num)